body {
  padding: 0;
  margin: 0;
}

#mainHeader {
  font-size: larger;

}

#container  {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

/* effects */
@keyframes dots {
  0%   { content: ""; }
  14%  { content: "."; }
  28%  { content: ".."; }
  42%  { content: "..."; }
  50%  { content: ""; }
  64%  { content: "."; }
  78%  { content: ".."; }
  92%  { content: "..."; }
  100% { content: ""; }
}

.typewriter-dots::after {
  display: inline-block;
  content: "";
  animation: dots 3s steps(7, end) infinite;
  font-family: monospace;
  letter-spacing: 2px;
}
