/* 
color palette:
https://colorhunt.co/palette/2e073f7a1cacad49e1ebd3f8
*/

body {
  padding: 0;
  margin: 0;
  background-color:#2E073F;
  color: #EBD3F8;
}

#mainHeader {
  font-size: larger;
}   

  
#container  {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}