/* 
color palette:
https://colorhunt.co/palette/2e073f7a1cacad49e1ebd3f8
*/

:root {
  font-family: "Chewy", sytem-ui;
  font-weight: 400;
  font-style: normal;

  --bg: #EBD3F8;
  --text: #2E073F;
  --primary: #7A1CAC;
  --secondary: #AD49E1;
}